/* #152614 #1E441E #2A7221 #119822 #31CB00 */


body {
	background: rgb(0 188 212 / 65%);
	color: #1E441E;
	di splay: flex;
	fl ex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 20px;

}

wrapper {
	
 
   display: flex;
   
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}

section {
	background: #FAF9F6;
	border: 2px solid black;
	
	padding-left: 14px;
	width: 250px;
	height: 400px;
	box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .09);

	display: grid;
	flex-direction: column;
	  transition: transform .5s;
}

section:hover{
	transform: rotate(6deg);
}

section > h2 {
	display: grid;
	justify-content: center;
    align-items: center;
}



h2 span{
    display: inline-flex;
	background: rgb(255 235 59 / 45%);
    padding: 4px 20px;
}

footer {
	background: lightgreen;
	border: 2px solid black;	
	padding-left: 10px;
	box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .09);
	margin-top: 40px;

}